<div class="starter-template">

  <h1>And they'll continue singing it forever just because...</h1>
</div>

<%= image_tag "verse_4.jpg"%>
<br></br>

<div>
  <h3>

<u><%= link_to "Next>>", "index" %></u>

  <h3>
<div>
