<div class="starter-template">
  <h1>Some people, starting singing it not knowing what it was</h1>
</div>

<%= image_tag "verse_3.jpg"%>

<div>
  <h3>

<u><%= link_to "Next>>",'verse_4'%></u>

</div>
  </h3>
